body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('https://i.ytimg.com/vi/2xeYlbWEnpk/maxresdefault.jpg');
  background-size: auto;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}

.functionalButton {
  color: pink ;
  font-weight: bold;
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}


.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  text-align: left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.interactiveDancer{
  position:absolute;
}

.mouseHover {
  border: 0px;
  border-width: 0px;
  border-radius: 0px;
  position: absolute;
}

.addDancer {
  list-style-type: none;
  display: none;
  float: right;
  clear: right;
  background-color: #777;
  margin-top: 0;
}
